html, body {
    background-color: #d2a479;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 0px 16px #666;
}

/* Logo */
#logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 150px;
    background-color: #c9f;
    border-bottom: 1px solid #ccc;
    z-index: 100;
    text-align: center;
} 
#logo img {
    margin-top: 10px;
    height: auto;
    width: 100px;
}
#logo p {
    margin-top: -50px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0px 0px 16px #333;
}

/* Main Menu */
#main-menu {
    position: absolute;
    top: 15%;
    left: 0;
    height: 85%;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #9999ff;
    border-right: 1px solid #ccc;
    z-index: 99;
    box-shadow: 2px 2px 10px #666;
}
li a {
    display: block;
    color: #fff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-shadow: 0px 0px 16px #666;
}
li a.active {
    background-color: #99ccff;
    color: #fff;
}
li a:hover:not(.active) {
    background-color: #99ccff;
    color: #ffffcc;
    transition-duration: 0.5s;
}

/* Log Out */
#log-out {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 20%;
    z-index: 100;
}
#log-out a {
    display: block;
    color: #fff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #ccc;
    text-shadow: 0px 0px 16px #666;
    float: middle;
}
#log-out a:hover {
    background-color: #99ccff;
    color: #ffffcc;
    transition-duration: 0.5s;
}

/* Search Bar */
#search-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    background-color: #fcc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 98;
    box-shadow: 2px 2px 8px #666;
}
#search-bar form input[type=text] {
    position: relative;
    margin: 25px;
    margin-left: 175px;
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: aliceblue;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 4px 10px 14px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}	
#search-bar form  input[type=text]:focus {
    width: 60%;
}

/* Content */
#content {
    position: absolute;
    top: 15%;
    left: 0;
    height: 85%;
    width: 100%;
    overflow-x: hidden;
}
#content > div {
    padding-left: 175px;
    padding-right: 25px;
}
